
/*launch before this scirpt
  create database testDb;
  to create the db*/
 
USE [testDb]
GO
/****** Object:  Table [dbo].[clienti]    Script Date: 10/12/2018 12.35.54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clienti](
	[PK_UID] [int] IDENTITY(0,1) NOT NULL,
	[id] [int] NULL,
	[nome] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ordini]    Script Date: 10/12/2018 12.35.54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordini](
	[PK_UID] [int] IDENTITY(0,1) NOT NULL,
	[id] [int] NULL,
	[idcliente] [int] NULL,
	[codice] [int] NULL,
	[descr] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[serie]    Script Date: 10/12/2018 12.35.54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serie](
	[time] [int] NOT NULL,
	[esempio] [int] NULL,
	[esempio2] [float] NULL,
	[Passengers] [int] NULL,
	[jewelry] [int] NULL,
 CONSTRAINT [PK_serie] PRIMARY KEY CLUSTERED 
(
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[clienti] ON 

INSERT [dbo].[clienti] ([PK_UID], [id], [nome]) VALUES (1, 2, N'pluto')
INSERT [dbo].[clienti] ([PK_UID], [id], [nome]) VALUES (2, 3, N'topolino')
INSERT [dbo].[clienti] ([PK_UID], [id], [nome]) VALUES (3, 4, N'minnie')
SET IDENTITY_INSERT [dbo].[clienti] OFF
SET IDENTITY_INSERT [dbo].[ordini] ON 

INSERT [dbo].[ordini] ([PK_UID], [id], [idcliente], [codice], [descr]) VALUES (0, 1, 1, 10, N'dieci')
INSERT [dbo].[ordini] ([PK_UID], [id], [idcliente], [codice], [descr]) VALUES (1, 2, 1, 9, N'undici')
INSERT [dbo].[ordini] ([PK_UID], [id], [idcliente], [codice], [descr]) VALUES (2, 3, 1, 7, N'dodici')
SET IDENTITY_INSERT [dbo].[ordini] OFF
INSERT [dbo].[serie] ([time], [esempio], [esempio2], [Passengers], [jewelry]) VALUES (1, 128, 32.94638131, 112, 796)
INSERT [dbo].[serie] ([time], [esempio], [esempio2], [Passengers], [jewelry]) VALUES (2, 181, 35.05314733, 118, 1021)
INSERT [dbo].[serie] ([time], [esempio], [esempio2], [Passengers], [jewelry]) VALUES (3, 87, 37.22823244, 132, 912)
GO
